head
  title #{title}

  script(src= 'http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='../public/js/validator.js')
  script(src='../public/dropzone/dropzone.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')

  link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
  link(href='../public/css/site.css', rel='stylesheet')
  link(href='../public/dropzone/css/dropzone.css', rel='stylesheet')

  script(type='text/javascript').
    var myDropzone = $("#form");
    Dropzone.options.myDropzone = {
      maxFiles: 0,
      uploadMultiple : false,
      acceptedFiles: 'application/zip',
      init: function() {
        var myDropzone = this;

        this.on("maxfilesexceeded", function(file) {
          this.removeFile(file);
          console.log("maxfilesexceeded");
        });

        this.on("addedfile", function(file) { 
          alert("Added file."); 
        });
      }
    }