doctype 5
html
    head
        title Upload Form
    body
        h1 Upload File
        | #{error}
        form(method="POST", action="/upload", enctype="multipart/form-data")
            input(type="file", name="fileName")
            input(type="submit", value="Upload")