
.signBody {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  background: #FFF;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signup {
  background: #FFF;
  max-width: 330px;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto;
}
    
.form-signup .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bottomline
{
  border: 1px solid #AAA;
  margin-top: 10px;
  margin-bottom: 5px;
}

.background_image
{
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: Helvetica,serif;
}

.rowcustom{
  margin-left: auto;
  margin-right:auto;
}

.head{
  font-family: Helvetica,serif;
  font-size:10em;
  margin-top:50px;
  color: white;
}

.head1{
  font-family: Helvetica,serif;
  font-size:5em;
  margin-top:50px;
  color: white;
}

.feature{
display:inline;
font-size: 1.5em;
margin-left: 5px;
color:white;
letter-spacing: 2px;
}

.error
{
  color:red;
}

/* Dashboard */
.widget
{
  height: 340px;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
  background: #FFF;
  border-radius: 4px;
  box-shadow:0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
}
.widget25
{
  width: 24%;
}
.widget50{
  width: 49%;
}
.widget75{
  width: 74%;
}
.panel{
  margin-bottom: 0px;
  background: #4C4E51;
  background: -moz-linear-gradient(top, #5A5E63, #3D3D3E);
  background: -webkit-linear-gradient(top, #5A5E63, #3D3D3E);
  color:white;
  text-shadow: 0 1px 1px #000000;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
}

.leftPanel
{
  background: -moz-linear-gradient(left, #222, #333);
  background: -webkit-linear-gradient(top, #222, #333);
  width:8.5%;
  height : 100%;
  position: fixed;
  margin-left: -1%;
}
.customRow{
  margin-left: 0px;
  margin-right: 0px;
}




#dropbox{
    background:url('../img/background_tile_3.jpg');

    border-radius:3px;
    position: relative;
    margin:80px auto 90px;
    min-height: 290px;
    overflow: hidden;
    padding-bottom: 40px;
    width: 990px;

    box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
    color:#ccc;
    font-size:10px;
}

#dropbox:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#dropbox .preview{
    width:245px;
    height: 215px;
    float:left;
    margin: 55px 0 0 60px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 240px;
    max-height:180px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;

    box-shadow:0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}