extends layouts/default
block title
  title Dashboard
block main
  h1= Temp

block content
  div
    h2 Dashboard
    br
  .container
    .row
      .col-sm-6.widget.widget50
        .panel
          | Title
        .panel-body
          if sites == null || sites.length == 0
            | No sites
          else
            .table-responsive
              table.tabel.table-bordered
                thead
                  tr
                    th Number
                    th Sites
                tbody
                  for site ,i in sites
                    tr
                      td
                        | #{i+1}
                      td
                        | #{site}

      .col-sm-6.widget.widget50(style='margin-left:2%;')
        | sdshjd
    br
    .row
      .col-sm-6.widget.widget50
        | sdsd
      .col-sm-6.widget.widget50(style='margin-left:2%;')
        .panel
          | Test For Heading
        | sdshjd
    //- br
    //- .row
    //-   .col-sm-6.widget.widget25
    //-     | sdsd
    //-   .col-sm-6.widget.widget25(style='margin-left:2%;')
    //-     | sdshjd
    //-   .col-sm-6.widget.widget50(style='margin-left:1%;')
    //-     | sdshjd
