extends layouts/default

block main
  h1= Temp

block content
  div
    h2 Dashboard
    br
  .container
    .row
      .col-sm-6.widget.widget50
        .panel
          | Title
        .panel-body
          ul
            for site in sites
              li= site
            else
              li No site!
      .col-sm-6.widget.widget50(style='margin-left:2%;')
        | sdshjd
    br
    .row
      .col-sm-6.widget.widget50
        | sdsd
      .col-sm-6.widget.widget50(style='margin-left:2%;')
        .panel
          | Test For Heading
        | sdshjd
    //- br
    //- .row
    //-   .col-sm-6.widget.widget25
    //-     | sdsd
    //-   .col-sm-6.widget.widget25(style='margin-left:2%;')
    //-     | sdshjd
    //-   .col-sm-6.widget.widget50(style='margin-left:1%;')
    //-     | sdshjd
