html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='../public/css/site.css', rel='stylesheet')
    title Login
  body.signBody
    .container
      form.form-signin(role='form', method='POST', action='/')
        h2.form-signin-heading Please sign in
        br
        input.form-control(type='text', placeholder='Email address', autofocus='', name='email',required='required')
        input.form-control(type='password', placeholder='Password', name='pass',required='required')
        br
        label.checkbox
          input(type='checkbox', value='true', name='remember-me')
          | Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        .bottomline
        .pagination
          a.pull-right(href='/register') Create an Account