html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='../public/css/site.css', rel='stylesheet')
    title Register
  body.signBody
    .container
      form.form-signup(role='form',method='post')
        h2.form-signup-heading Create an Account
        br
        .row
          .col-lg-6
            input.form-control(type='text', id='fname',placeholder='First name', autofocus='', name='fname', required='required')
          .col-lg-6
            input.form-control(type='text', id='lname',placeholder='Last name', name='lname', required='required')
        br
        input.form-control(type='text', id='username',placeholder='Choose username', name='uname', required='required')
        br
        input.form-control(type='email', placeholder='Email address', name='email',required='required', onblur='validate(this.id)')
        br
        input.form-control(type='password', placeholder='Password', name='pass',required='required')
        br
        label Select Your Plan:
        select(name='plan')#plan.form-control
          option(value='free') Free
          option(value='paid') Paid
        br
        label.error#error
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Create Account
        .bottomline
        .pagination
          a.pull-right(href='/login') Sign In
        br
        a(href="/").btn.btn-default Go to Home
