html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='../public/css/site.css', rel='stylesheet')
    title Register
  body.signBody
    .container
      form.form-signup(role='form',method='post')
        h2.form-signup-heading Create an Account
        br
        input.form-control(type='text', id='name',placeholder='User name', autofocus='', name='name', required='required')
        br
        input.form-control(type='email', placeholder='Email address', name='email',required='required', onblur='validate(this.id)')
        br
        input.form-control(type='password', placeholder='Password', name='pass',required='required')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Create Account
        .bottomline
        .pagination
          a.pull-right(href='/') Sign In