<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>
  </head>
  <body class="signBody">

    <div class="container">
      <form class="form-signup" role="form">
        <h2 class="form-signup-heading">Create an Account</h2>
        <input type="text" class="form-control" placeholder="User name" autofocus="">
        <br>
        <input type="text" class="form-control" placeholder="Email address"><br>
        <input type="password" class="form-control" placeholder="Password"><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
        <div class="bottomline"></div>
        <div class="pagination">
          <a href="" class="pull-right">Sign In</a>
        </div>
      </form>
    </div>
  </body>
</html>