//- !!! 5
//- html
//-   head
//-     meta(charset='utf-8')
//-     title File Upload!
//-     script(src='../public/js/jquery.js')
//-     script(src='../public/js/javascript.js')
//-     link(rel='stylesheet', type='text/css', href='../public/css/style.css')
//-   body
//-     .content
//-       #drop-files(ondragover='return false')
//-         | Drop Images Here
//-       #uploaded-holder
//-         #dropped-files
//-           #upload-button
//-             a.upload(href='#') Upload!
//-             a.delete(href='#') delete
//-             span 0 Files
//-         #extra-files
//-           .number
//-             | 0
//-           #file-list
//-             ul
//-       #loading
//-         #loading-bar
//-           .loading-color  
//-         #loading-content Uploading file.jpg
//-       #file-name-holder
//-         ul#uploaded-files
//-           h1 Uploaded Files
html
  head
    meta(charset='utf-8')
    title Plupload - Drag & drop example
    style
      body {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 13px;
      color: #333;
      background: #DDD;
      width: 620px;
      margin: 40px auto;
      }
      #drop-target {
      border: 10px dashed #999;
      text-align: center;
      color: #999;
      font-size: 20px;
      width: 600px;
      height: 300px;
      line-height: 300px;
      cursor: pointer;
      }
      #drop-target.dragover {
      background: rgba(255, 255, 255, 0.4);
      border-color: green;
      }
      #debug {
      margin-top: 20px;
      }
  body
    #drop-target
      | Drop your files or folders (Chrome
      | = 21) here
    #debug No runtime found, your browser doesn't support HTML5 drag & drop upload.
    script(type='text/javascript', src='../public/js/plupload.js')
    script(type='text/javascript', src='../public/js/plupload.html5.js')
    script(type='text/javascript')
      // Custom example logic
      function $(id) {
      return document.getElementById(id);
      }
      var uploader = new plupload.Uploader({
      runtimes : 'html5',
      drop_element : 'drop-target',
      browse_button : 'drop-target',
      max_file_size : '10mb',
      upload : "demoUpload"
      });
      uploader.bind('Init', function(up, params) {
      if (uploader.features.dragdrop) {
      $('debug').innerHTML = "";
      var target = $("drop-target");
      target.ondragover = function(event) {
      event.dataTransfer.dropEffect = "copy";
      };
      target.ondragenter = function() {
      this.className = "dragover";
      };
      target.ondragleave = function() {
      this.className = "";
      };
      target.ondrop = function() {

      this.className = "";
      };
      }
      });
      uploader.bind('FilesAdded', function(up, files) {
      for (var i in files) {
        $('debug').innerHTML += '<div id="' + files[i].id + '">- ' + files[i].relativePath + ' (' + plupload.formatSize(files[i].size) + ')</div>';

        var xmlhttp;
        if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
          }
        else
          {// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
        xmlhttp.onreadystatechange=function()
          {
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
            document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
            }
          }
        
        xmlhttp.open("POST","demoUpload",true);
        xmlhttp.setRequestHeader("Content-type",files[i].type);
        xmlhttp.setRequestHeader("path",files[i].relativePath);
        xmlhttp.setRequestHeader("fvalue",files[i]);
        xmlhttp.send(files[i]);


        }
      });
      uploader.init();
