!!! 5
html(lang='en')
  include ../includes/scripts
  body.signBody
    .row.customRow
      .col-sm-1
        .leftPanel
      .col-sm-11
        .wrapper
          include ../includes/header
          .container
            .main-content
              .main-head
                block main
              block content
          .push
include ../includes/footer