!!! 5
html(lang='en')
  include ../includes/scripts
  body.signBody
    .wrapper
      include ../includes/header
      .container
        .main-content
          .main-head
            block main
          block content
      .push
include ../includes/footer